@import 'variables.scss';
@import 'mixins.scss';
@import 'colors.scss';
@import 'functions.scss';

// Define the $weight-bold variable
$weight-bold: 700;
$weight-semibold: 600;
$weight-normal: 400;

// Other variable definitions
$primary-color: #2176d2;
$secondary-color: #f3c613;